<h1 class="text-center">Create a New User</h1>

<div class="row d-flex justify-content-center">
  <div class="mb-3 w-50" id="login">
    <%= bootstrap_form_with model: @user, method: :post, local: true do |form| %>
      <%= form.text_field :first_name, required: true %><br>
      <%= form.text_field :last_name, required: true %><br>
      <%= form.text_field :email, required: true %><br>
      <%= form.password_field :password, required: true %><br>
      <%= form.password_field :password_confirmation, required: true %><br>
      <%= form.submit "Create New User", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
