<%= stylesheet_link_tag 'main_header.css' %>

<!DOCTYPE html>
<html>
  <head>
    <title>FlashCards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "rails-ujs" %>
  </head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  
  <body>
    <div class="has-bg-img">
      <%= render partial: "shared/navbar" %>
      <%= render partial: "shared/flash" %>
      <%= yield %>
      <img class="bg-img" src=<% image_path("backgrounds/numbers-falling-bkgd.jpeg") %>>
    </div>
  </body>
</html>
